{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-body"><h4>Your Score is {{score}}</h4></div>
</div>

<div class="container">
<h3>Current Leaderboard</h3>
          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Points</th>
        
      </tr>
    </thead>
    <tbody>
    {% for user,points in leaderboard %}
      <tr>
        <td>{{user}}</td>
        <td>{{points}}</td>
              
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}