{% extends 'base.html' %}
{% block content %}
{% if valid %}
<div class="container-fluid">
<div id="timer" class="well  pull-right"></div>
    <div id="counter"></div>
    <div class='col-md-9'>

        <div class="panel panel-default">
          <div class="panel-heading"><span>Q: </span>{{ object.title|linebreaks }}</div>
          <div class="panel-body"><h3>{{object.description}}</h3></div>
        </div>
        {% csrf_token %}
        <div class="panel panel-default">
        <div class="panel-heading">
        <ol>
        {% for o in options %}
            <li>
            <p><button class = "options btn" value="{{o}}" id="{{o}}">{{o}}</button></p>
          </li>

        {% endfor %}
        </ol>
        <button id="bookmark" class="btn btn-primary">{% if object.id in bookmarked %}Remove Bookmark{% else %}Bookmark this question{% endif%}</button>
        {% if next %}
           <a href="{% url 'question-detail' next %}" class="btn btn-primary">Next</a>
        {% endif %}
        <a class="btn btn-info" href="{% url 'level1' %}">Summary</a>

        {% if previous %}
        <a href="{% url 'question-detail' previous %}" class="btn btn-primary">Previous</a>
        {% endif %}
        <a class="btn btn-danger" href="/level1/endtest">End Test</a>
        <p id="message"></p>
        </div>
        </div>


{% else %}
Invalid session
{% endif %}

</div>
</div>
    <script type="text/javascript">


// Set the date we're counting down to
var countDownDate = new Date("{{time}}");


// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="timer"
  document.getElementById("timer").innerHTML = days + "d " +  hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
    window.location.replace("/level1/endtest");

  }
}, 1000);

        $(".options").each(function () {
            $(this).on("click",function () {
                $(".options").css("background-color","#DDDDDD");
                $(this).css("background-color","#38A8E8");
                var answer=$(this).val();
                $.post({
                    url:"{% url 'add_response'%}",
                    data:{
                        question_id :"{{ object.id }}",
                        ans:answer,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

                    },
                    success:function () {
                        $("#message").text("Your answer has been recorded as "+answer)
                        $(this).css("class","btn btn-primary");
                    }
                })
            })
        });
        $("#bookmark").on("click",function () {
            $.post({
                    url:"{% url 'bookmark'%}",
                    data:{
                        question_id :"{{ object.id }}",
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

                    },
                    success:function () {
                        if ($("#bookmark").text() == "Remove Bookmark"){
                            $("#bookmark").text("Bookmark this question");
                        }else{
                            $("#bookmark").text("Remove Bookmark");
                        }
                    }
                })
        })


//                Disable Mouse Right Click, Cut, Copy & Paste
        $(document).ready(function () {
            //Disable cut copy paste
            $('body').bind('cut copy paste', function (e) {
                e.preventDefault();
            });

            //Disable mouse right click
            $("body").on("contextmenu",function(e){
                return false;
            });
        });



        {% if answered_option %}
            $("#{{answered_option}}").css("background-color","#38A8E8");

        {% endif %}
    </script>

{% endblock %}
