{% extends 'base.html' %}


{% block content %}

<div class="col-sm-5 col-xs-12  img-holder jumbotron">
                <h1 class="text-center">Web Daemon</h1>
                <p class="holder-text">CSI RAIT'S Techmate 2k17 ushers forth  a look-in to limn your web development skills,providing you with platter of the choicest web development gizmos including html,css and javascript.The final play-offs includes responsive web designing and javascript animation
'WEB DAEMON' welcomes you to the colloseum of web development!</p>
            </div>
 

<form class=" col-sm-6 col-xs-12 "  role="search" method="get"  action="{% url 'profile' %}">
        {% load staticfiles %}
    <img src="{% static 'userprofile/img/wdlogo.jpg' %}" class="img-responsive"><br>
    <input class="form-control mr-sm-2" type="text" placeholder="Reciept No" name="q"><br>
    <input class="form-control mr-sm-2" type="text" placeholder="Username" name="r"><br>
    <input class="form-control mr-sm-2" type="text" placeholder="Secret Key" name="k"><br>
    <input class="form-control mr-sm-2" type="email" placeholder="web@example.com" name="e"><br>
    <button class="btn  btn-primary col-sm-offset-5" type="submit">Submit</button>
</form>
{% endblock %}