{% extends 'base.html' %}
{% block content %}
<h3 class="page-header">Hello {{username}}</h3>

<div class='col-md-9'>
    <h3 class="page-header" align='center'>Levels</h3>
    <div class="panel panel-default">
	  	<div class="panel-body">
	  		{% if completed %}
					<a href="{% url 'start_test' %}">Level 1</a>
					{% else %}
					<a href="{% url 'end_test' %}">View your Level 1 Report </a>
					{% endif %} 
	  	</div>
	</div>
    <!-- <a href="{% url 'logout' %}">Logout</a> -->
</div>


{% endblock %}