{% extends 'base.html' %}
{% block content %}
{% if valid %}
    {% for question in questions %}
    <li><a href="{% url 'question-detail' question.id %}">{{ question.title }} {% if question.id in answered %}
     |answered
    {% endif %}{% if question.id in bookmarked %}
    |bookmarked
    {% endif %}

    </a></li>
    {% empty %}
        <h1>No question yet.</h1>
    {% endfor %}
    <!--Disable Mouse Right Click, Cut, Copy & Paste-->

        <script type="text/javascript">
    $(document).ready(function () {
        //Disable cut copy paste
        $('body').bind('cut copy paste', function (e) {
            e.preventDefault();
        });

        //Disable mouse right click
        $("body").on("contextmenu",function(e){
            return false;
        });
    });
    </script>
{% else %}
Timeout
{% endif %}
{% endblock %}